ase>=3.23.0,<=3.24.0
dscribe==2.1.1
deepmd-kit==3.1.3
dpdata
mace_torch==0.3.16
matplotlib
lammps==2025.7.22.2.0
numpy>=2.4.6
pandas>=2.3.3
paramiko
pyxtal
pymatgen
PyYAML
pytest
scikit_learn
scipy
setuptools
submitit
tabulate
tensorflow==2.21.0
torch==2.10.0
tqdm
