art==6.5
ase==3.23.0
dpdata==1.0.2
dscribe==2.1.1
mace_torch==0.3.16
matplotlib
numpy==2.5.2
pandas==3.0.5
paramiko==5.0.0
pyxtal==1.1.4
PyYAML==6.0.3
scikit_learn==1.9.0
scipy==1.18.0
setuptools==83.0.0
submitit==1.5.4
tabulate==0.10.0
torch==2.10.0
tqdm==4.70.0
