ase~=3.24.0
deepmd-kit==3.0.0b3
dpdata==0.2.19
dscribe==2.1.1
networkx==3.4.2
numpy~=1.26.4
pandas~=2.2.3
tensorflow==2.15.0
torch==2.1.2.post300
mace-torch==0.3.12
numpy~=1.26.4
pandas~=2.2.3
pyxtal~=1.0.6
paramiko~=3.5.0
PyYAML~=6.0.1
scikit-learn~=1.6.1
scipy~=1.13.0
tqdm~=4.66.2
